<%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>
    <%- include('partials/header.ejs') %>
    
    <!-- Page content -->
    <div class="ps-content">
      <%- include('partials/about.ejs') %>
      <hr />
      <%- include('partials/menu.ejs') %>
      <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
